<div class="d-flex flex-column justify-content-between shadow-sm bg-dark pb-2 pt-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol id="users-breadcrumb" class="breadcrumb small">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      </ol>
    </nav>
    <main class="d-flex flex-row justify-content-between align-items-center">
      <h2 class="font-weight-bold">Users List</h2>
      <button id="new-user-btn" class="btn btn-primary shadow-sm font-weight-bold">
        <fa-icon style="margin-right: 5px;" [icon]="faPlus"></fa-icon>New User
      </button>
    </main>
  </div>
</div>