<div class="d-flex flex-column justify-content-between bg-light">
  <nav aria-label="breadcrumb">
    <ol id="users-breadcrumb" class="breadcrumb small">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ol>
  </nav>
  <main class="d-flex flex-row justify-content-between">
    <h2>Users List</h2>
    <button id="new-user-btn" class="btn btn-primary font-weight-bold align-items-end">
      <fa-icon style="margin-right: 5px;" [icon]="faPlus"></fa-icon>New User
    </button>
  </main>
</div>