#main-navbar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#navbar-btn{
  width: 112px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  margin: 0.4375rem;
  padding: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-link{
  padding: 0rem;
  margin: 0.4375rem;
  font-weight: bold;
}