<div class="container mt-3">
  <div class="d-flex flex-row align-items-stretch">
    <div [ngClass]="{'d-flex flex-column shadow-sm bg-white flex-grow-1 pl-3': true, 'rounded-all-10 pr-3': !((selectedUserState | async).selectedUser), 'rounded-left-10': ((selectedUserState | async).selectedUser)}">
      <app-user-panel-heading></app-user-panel-heading>
      <div *ngFor="let user of users">
        <app-user-panel [avatarSrc]="user.avatar" [username]="user.first_name + ' ' + user.last_name" [user]="user"></app-user-panel>
      </div>
    </div>
    <app-user-info *ngIf="((selectedUserState | async).selectedUser)" [avatarSrc]="((selectedUserState | async).selectedUser).avatar"
      [username]="((selectedUserState | async).selectedUser).first_name + ' ' + ((selectedUserState | async).selectedUser).last_name"
      style="flex-basis: 262px;"></app-user-info>
  </div>
</div>