#modalContent3{
  width: 363px;
  height: 294px;
  border-radius: 10px;
  border: none;
}

#mainForm{
  margin-top: 70px;
  padding: 0rem 1rem;
}

#userAvatarImage{
  border: solid 3px #fff;
  top: -50px
}

.actionBtn{
  width: 160px;
  height: 40px;
}