<div id="main" [ngClass]="{'d-flex flex-row align-items-center p-3' : true, 'bg-primary rounded-left-10': selected}">
  <div class="d-flex flex-row align-items-center flex-grow-1">
    <app-user-avatar [avatarSrc]="avatarSrc" [altText]="username" width="55" height="55">
    </app-user-avatar>
    <div [ngClass]="{'ml-3': true, 'text-secondary': selected}">{{username}}</div>
  </div>
  <app-delete-button *ngIf="!selected" [user]="user" class="p-2"></app-delete-button>
  <app-edit-button *ngIf="!selected" [user]="user" class="p-2"></app-edit-button>
  <app-details-button (click)="onSelect()" id="details" class="ml-auto p-3" [selected]="selected"></app-details-button>
</div>
<hr />