<div id="main-panel" class="d-flex flex-column justify-content-center align-items-center bg-light">
  <img src="../../assets/icons-8-delete-sign.svg" class="icons8-delete_sign">
  <app-user-avatar></app-user-avatar>
  <h4 class="font-weight-bold">Ahmed elSayed</h4>
  <div class="d-flex flex-row">
    <button id="edit-user" class="btn btn-primary shadow-sm font-weight-bold">
      <img src="../../assets/icons-8-edit-copy-3.svg" class="icons8-edit-copy-3">Edit
    </button>
    <button id="delete-user" class="btn btn-white shadow-sm font-weight-bold">
      <img src="../../assets/icons-8-delete.svg" class="icons8-edit-copy-3">Delete
    </button>
  </div>
</div>