#login-form{
  width: 67%;
}

#login-cred{
  width: 404px;
  border-radius: 10px;
}

button{
  width: 94px;
  height: 40px;
}

.Rectangle-Copy {
  width: 363px;
  height: 567px;
  object-fit: contain;
  border-radius: 10px;
}